[Desktop Entry]
Type=Application
Name=altairsim
Icon=altairsim
Exec=altairsim
Categories=System;Emulator;
Comment=Emulation of an Altair 8800 system with 8080 or Z80 CPU, 64KB RAM, Cromemco Dazzler graphics, Tarbell SD disk controller with four 8" SD disk drives, front panel, 88SIO-2 connected to the host terminal, line printer connected to host file
